<form>
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- amount field -->
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" style="width: 100px;" class="input" placeholder="Amount">
                </p>
            </div>
            <!-- discription field -->
            <div class="field">
                <p class="control">
                    <input type="text"  class="input" placeholder="Description">
                </p>
            </div>

            <!-- Add button -->
            <div class="field is is-narrow">
                <button class="button is-primary" disabled="true">ADD</button>
            </div>
        </div>
    </div>
</form>